<h1>Login</h1>

<mat-form-field class="example-full-width">
    <mat-label>Login</mat-label>
    <input matInput placeholder="user123" [(ngModel)]="mail">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" [(ngModel)]="password">
  </mat-form-field>
  <div *ngIf="validatetrigger" class="validbox">
    {{validateMessage}}
  </div>

  <a mat-stroked-button color="gray" class="marginright20px" (click)="onNoClick()">Cancel</a>
  <a mat-stroked-button color="gray"  (click)="login()">Login</a>
