.bg1{
    border-radius: 50px;
    background: linear-gradient(145deg, #d4d4d4, #fbfbfb);
    box-shadow:  20px 20px 60px #c8c8c8, 
             -20px -20px 60px #ffffff;
    margin-right: 30px;
}
.bg2{
    border-radius: 50px;
background: linear-gradient(145deg, #d4d4d4, #fbfbfb);
    box-shadow:  20px 20px 60px #c8c8c8, 
             -20px -20px 60px #ffffff;
}

.grdlist{
    width:100%;
    margin-top:20px;
}

:host{
    width:100%;
    background-color: #c7c7c7;
}

.lotprofile{
    display: flex;
    flex-wrap: wrap;
}

.textinfo{
    width:300px;
    height: 150px;
    color: rgb(58, 58, 58);
}

.profilelotimage{
    border-color: rgb(58, 58, 58);
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;

    margin-right: 20px;
}
.center{
    text-align: center;
}

.lotname{
    width: 100%;
    text-align: center;
}
h1{
    font-family: SourceSansProSemiBold, sans-serif;
    font-weight: 300;
    font-size: 4vw;
    color: rgb(58, 58, 58);
}

h2{
    font-family: SourceSansPro, sans-serif;
    font-weight: 300;
    font-size: 2vw;
}

table{
    width: 100%;
    height: 50%;
    margin-top: 20px;
}

.btnsection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:40px;
    height: 50px;
}
.margintop40px{
    margin-top: 40px;
}
