<mat-grid-list cols="5" rowHeight="500px" class="grdlist">
    <mat-grid-tile
        [colspan]="3"
        [rowspan]="1"
       class="bg1">

     <div class="lotprofile" *ngIf="CurrentLot">
        <div class="lotname"><h1><b>{{CurrentLot.Name}}</b></h1> </div>
        <img src="../../assets/fakeimg.jpg" class="profilelotimage">
        <div class="textinfo">

              
            <mat-list>
                <mat-list-item><h2>ID: {{CurrentLot.Id}}</h2></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><h2>Category: {{CurrentLot.Category}}</h2></mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><h2>Status: {{CurrentLot.Status}}</h2>  </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item> <h2>Start Price: {{CurrentLot.StartPrice}}$</h2>  </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item><h2>Descripton: </h2>  </mat-list-item>
                <h2 class="newfont">{{CurrentLot.Info}}</h2>
              </mat-list>
        </div>
     </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        class="bg2"
       >
        <div class="betsdisplay">
       <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="OwnerLogin">
          <th mat-header-cell *matHeaderCellDef> OwnerLogin </th>
          <td mat-cell *matCellDef="let element"> {{element.OwnerLogin}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
        </ng-container>    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

      <div class="btnsection">
      <button  mat-fab color="warn" class="margintop40px" (click)="UpdateBets()">
        <mat-icon>refresh</mat-icon>
      </button>
      <a  mat-flat-button color="warn" class="btn" (click)="OpenBetMenu()"><mat-icon>add</mat-icon> PLACE A BET </a>
     </div>


    </div>

    

    </mat-grid-tile>
  </mat-grid-list>
  