.lotclass{ 
    flex:1 1 calc(33.33% - 120px); /* отнимем margin и скажем растягиваться */
	margin:20px;
	box-sizing:border-box; /* чтобы внутренний отступ не влиял когда там будет текст... */
    min-width:350px; /* мин. ширина блока, чтобы переносились на другой ряд */
    max-width: 500px;
    padding: 7px;
    border-radius: 36px;
    background: linear-gradient(145deg, #cdcfd0, #f4f6f7);
    box-shadow:  8px 8px 16px #dbddde, 
             -8px -8px 16px #edeff0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;

}

.lotimg{
    width:40%;
    float: left;
    margin: 5px 10px;
}

.lotscontainer{
    display:flex;
    flex-wrap: wrap;
    background-color:#ebebeb;
    justify-content: space-around;
}
.lotinfo{
    margin-top: 5px;
}
.center{
    align-content: center;
    text-align: center;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow:  0 0 0 #aeaeae, 
             0 0 0 #ffffff;
    border-width: 1px;
    box-shadow:  5px 5px 10px #aeaeae, 
             -5px -5px 10px #ffffff;
  }

  h1{
    font-family: SourceSansProSemiBold, sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: rgb(58, 58, 58);
  }

  h3{
    font-family: SourceSansPro, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: rgb(58, 58, 58);
  }
  h5{
    font-family: SourceSansPro, sans-serif;
    font-weight: 300;
    font-size:15px;
    color: rgb(58, 58, 58);
  }

  .pricewrapper{
      display: flex;
      justify-content: center;
  }

  .price{     
    display: flex;
    border-radius: 20px;
    background: linear-gradient(145deg, #6e3ec4, #5d34a5);
    width:60px;
    height:40px;

    justify-content: center;
    align-items: center;
  }
  .price >h1{
      color:#aeaeae;
      margin-bottom: 0;
  }