<div class="lotscontainer">

    <div class="lotclass grow" *ngFor="let lotitem of lots" (click)="openLot(lotitem.Id)">

        <img src="../../assets/fakeimg.jpg" class="lotimg">

        <div class="lotinfo">

            <h1 class="center">{{lotitem .Name}}</h1>
            <h5>{{lotitem .Info}}</h5>
            <h3>Start price:<br></h3>  
            <div class="pricewrapper">
                <div class="price">
                <h1>{{lotitem .StartPrice}}$</h1> 
            </div>
            </div>     
        </div>

    </div>

</div>