<h1>Place a bet</h1>

<mat-form-field class="example-full-width">
    <mat-label>Your Price</mat-label>
    <input matInput type="number" min={{minprice}} step=50 [(ngModel)]="inputprice" #price='ngModel'required>
  </mat-form-field>

  <div *ngIf="validatetrigger" class="validbox">
    {{validateMessage}}
  </div>

  <a mat-stroked-button color="gray" class="marginright20px" (click)="OnCancelClick()">Cancel</a>
  <a mat-stroked-button color="gray" [disabled]="!price.valid" (click)="PutBet()">Place</a>
