:host{
    display:flex;
    flex-direction: column;
}

.validbox{
    border:solid rgb(190, 54, 54) 2px;
    background-color:rgb(240, 140, 140);
    border-radius: 2px;
    margin-bottom: 5px;
    padding: 5px;
}