/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
    font-family: 'SourceSansPro';
    src:  url('./assets/Fonts/SourceSansPro-Light.ttf')  format('truetype');
}

@font-face{
    font-family: 'SourceSansProSemiBold';
    src:  url('./assets/Fonts/SourceSansPro-SemiBold.ttf')  format('truetype');
}