.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
  .sidenav-content{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-items: normal;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 100%;
    background-color: #c7c7c7;
  }

  .menucallbtn{
    margin-right: 15px;
  }