<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <menubtns></menubtns>
  </mat-drawer>

  <div class="sidenav-content" >    
    
    
    <mat-toolbar color="primary"> 

      <button type="button" mat-fab (click)="drawer.toggle()" color="white" class="menucallbtn">
        <mat-icon>article</mat-icon>
      </button>    

      <span>auctionweb</span>
      
    </mat-toolbar>  

   <router-outlet></router-outlet>
  </div>
  

</mat-drawer-container>
