<div class="btndiv" *ngFor="let item of buttonNames">
      <a mat-stroked-button color="gray" class="menubtn" routerLink={{dictionary[item]}}>{{item}}</a>
</div>
<div class="btndiv">
<a mat-stroked-button color="gray" class="menubtn" (click)="openDialog()">Login</a>
</div>